In [1]:
import os
import csv
import pandas as pd
import thesis_tools
from astropy.io import fits
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('sm')

import sys
if sys.platform=='darwin':
    top_path='/Users/codydirks/PGCC/'
else:
    top_path='/DataDisk/datafiles/PGCC_HST/'

x1d_dir=top_path+'x1d_files/'

In [2]:
with open('primary_sightlines.csv','r') as csvfile:
    inp=csv.reader(csvfile)
    primary_sightlines=next(inp)

sl_data=thesis_tools.load_data(primary_sightlines)
all_data=thesis_tools.load_results(sl_data)

/Users/codydirks/anaconda3/envs/astroconda/lib/python3.5/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/Users/codydirks/anaconda3/envs/astroconda/lib/python3.5/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Users/codydirks/anaconda3/envs/astroconda/lib/python3.5/site-packages/numpy/core/_methods.py:135: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Users/codydirks/anaconda3/envs/astroconda/lib/python3.5/site-packages/numpy/core/_methods.py:105: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Users/codydirks/anaconda3/envs/astroconda/lib/python3.5/site-packages/numpy/core/_methods.py:127: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Users/codydirks/python/thesis_tools/loaders.py:105: RuntimeWarning: divide by zero encountered in log10
  n_dict[ion]=round(np.log10(n_tot),3)
/Users/codydirks/python/thesis_tools/utilities.py:42: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt((((cos*del_l+sin*del_b)/a)**2+((sin*del_l-cos*del_b)/b)**2))

In [3]:
from astroquery.vizier import Vizier
import astropy.units as u

Vizier.ROW_LIMIT=10000

catalog='J/ApJS/199/8'

ns=['N({:})'.format(ion) for ion in ('H','HI','H2')]
columns=['Name']
for n in ns:
    for flag in ('l_','','E_','e_','r_'):
        columns.append(flag+n)

        
results=pd.DataFrame(columns=columns)
v = Vizier(columns=columns)

new_cols={}
for sl in primary_sightlines:
    rows=v.query_object(sl,catalog=catalog+'/table1',radius=2*u.arcsec)
    if len(rows)>0:
        rows=rows[0].to_pandas()
        for col in list(rows.columns):
            if col != 'Name':
                new_col=col.replace('N_','N(')
                new_col=new_col[0:-1]+')'
                new_cols[col]=new_col
            else:
                new_cols[col]=col
        rows=rows.rename(columns=new_cols)
        rows['Name']=pd.Series([sl]*len(rows),dtype=str)
        results=results.append(rows,ignore_index=True)

In [39]:
#results.to_csv('vizier_results.csv',index=False)

In [4]:
clean_results=pd.DataFrame(columns=results.columns)
complete_rows=results[(np.isfinite(results['N(H)']) & np.isfinite(results['N(HI)']) & np.isfinite(results['N(H2)']))]
#print(results['Name'].unique())
#print(complete_rows['Name'].unique())
#print([i for i in results['Name'].unique() if i not in complete_rows['Name'].unique()])

for idx,row in complete_rows.iterrows():
    # Checks that values are self consistent, i.e. H2+HI ~ Htot
    if abs((2*row['N(H2)']+row['N(HI)'])/row['N(H)'] - 1)<0.1:
        clean_results=clean_results.append(row,ignore_index=True)
        #print((2*row['N(H2)']+row['N(HI)'])/row['N(H)'])
        #print(row[['N(H)','N(HI)','N(H2)']])
        #print()
#clean_results.to_csv('clean_vizier_results.csv',index=False)

In [7]:
clean_results

,Name,l_N(H),N(H),E_N(H),e_N(H),r_N(H),l_N(HI),N(HI),E_N(HI),e_N(HI),r_N(HI),l_N(H2),N(H2),E_N(H2),e_N(H2),r_N(H2)
0,HD23180,b'',1.622000e+21,NaN,NaN,b'58',b'',7.943000e+20,2.800000e+20,NaN,"b'23, 32'",b'',3.981000e+20,NaN,NaN,"b'23, 32, 34, 288'"
1,HD23180,b'',1.610000e+21,NaN,NaN,"b'23, 61'",b'',7.080000e+20,1.200000e+20,NaN,"b'22, 32'",b'',4.100000e+20,NaN,NaN,b'60'
2,HD23478,b'',1.622000e+21,1.600000e+20,NaN,b'38',b'',1.023000e+21,1.500000e+20,NaN,b'38',b'',3.020000e+20,5.300000e+19,NaN,b'38'
3,HD24398,b'',1.585000e+21,NaN,NaN,"b'40, 58'",b'',6.400000e+20,6.000000e+19,NaN,b'43',b'',4.700000e+20,2.000000e+20,NaN,"b'18, 238'"
4,HD24398,b'',1.580000e+21,4.600000e+20,NaN,b'18',b'',6.456000e+20,6.200000e+19,NaN,"b'19, 23, 32, 41'",b'',4.677000e+20,NaN,NaN,"b'23, 32, 34, 64, 70, 81, 113, 288'"
5,HD24398,b'',1.585000e+21,2.300000e+20,NaN,"b'19, 41'",b'',6.310000e+20,NaN,NaN,"b'34, 493'",b'',4.700000e+20,NaN,NaN,"b'23,60, 61, 288'"
6,HD24398,b'',1.580000e+21,1.900000e+20,NaN,b'69',b'',6.500000e+20,NaN,NaN,b'60',b'',4.677000e+20,1.200000e+20,NaN,"b'19, 41'"
7,HD24398,b'',1.580000e+21,NaN,NaN,"b'23, 61, 288'",b'',6.456000e+20,1.300000e+20,NaN,b'74',b'',4.700000e+20,1.200000e+20,NaN,b'43'
8,HD24534,b'',2.188000e+21,1.600000e+20,NaN,"b'27, 29, 35'",b'',3.981000e+20,NaN,NaN,b'-999',b'',8.318000e+20,8.000000e+19,NaN,"b'11, 24, 27, 29, 35, 37, 95, 591'"
9,HD24534,b'',2.200000e+21,2.200000e+20,NaN,b'18',b'',5.370000e+20,8.000000e+19,NaN,"b'11, 27, 29, 35, 74'",b'',8.320000e+20,7.300000e+19,NaN,"b'11, 18'"
10,HD24534,b'',2.190000e+21,3.800000e+20,NaN,b'48',b'',5.370000e+20,6.900000e+18,NaN,"b'11, 18'",b'',8.318000e+20,2.200000e+20,NaN,"b'11, 39'"
11,HD24534,b'',2.188000e+21,NaN,NaN,"b'11, 25, 93'",b'',5.370000e+20,NaN,NaN,"b'34, 37, 39, 74, 79, 493'",b'',8.710000e+20,NaN,NaN,b'81'
12,HD62542,b'',2.138000e+21,NaN,NaN,b'93',b'',7.943000e+20,NaN,NaN,b'34',b'',6.456000e+20,4.000000e+20,NaN,"b'11, 29'"
13,HD124314,b'',2.754000e+21,5.600000e+20,NaN,"b'35, 46'",b'',2.188000e+21,NaN,NaN,"b'37, 74, 79'",b'',3.311000e+20,NaN,NaN,b'113'
14,HD124314,b'',2.951000e+21,3.600000e+20,NaN,b'38',b'',2.455000e+21,3.600000e+20,NaN,b'38',b'',3.311000e+20,7.600000e+19,NaN,"b'37, 113'"
15,HD124314,b'',3.230000e+21,5.300000e+20,NaN,b'30',b'',2.570000e+21,5.200000e+20,NaN,b'30',b'',2.951000e+20,2.100000e+19,NaN,"b'35, 46'"
16,HD147683,b'',3.548000e+21,6.200000e+20,NaN,b'38',b'',2.570000e+21,5.200000e+20,NaN,b'38',b'',4.786000e+20,1.500000e+20,NaN,b'38'
17,HD185418,b'',2.570000e+21,4.500000e+20,NaN,"b'19, 41, 42, 46'",b'',1.288000e+21,5.300000e+20,NaN,"b'11, 27, 29, 94, 205'",b'',5.754000e+20,7.000000e+19,NaN,"b'11, 27, 29, 46, 95, 591'"
18,HD185418,b'',2.455000e+21,5.700000e+20,NaN,"b'27, 29'",b'',1.288000e+21,NaN,NaN,"b'37, 39, 205'",b'',6.166000e+20,1.600000e+20,NaN,b'39'
19,HD185418,b'',2.600000e+21,5.000000e+20,NaN,b'43',b'',1.412000e+21,3.300000e+20,NaN,"b'30, 46'",b'',5.100000e+20,1.600000e+20,NaN,b'43'
20,HD185418,b'',2.570000e+21,3.800000e+20,NaN,b'-999',b'',1.410000e+21,2.500000e+20,NaN,b'30',b'',5.100000e+20,1.300000e+20,NaN,b'30'
21,HD203532,b'',2.754000e+21,4.800000e+20,NaN,"b'19, 42'",b'',1.862000e+21,4.300000e+20,NaN,"b'19, 41'",b'',4.365000e+20,8.800000e+19,NaN,"b'19, 41'"
22,HD208440,b'',2.089000e+21,4.200000e+20,NaN,"b'19, 41, 42'",b'',1.698000e+21,3.900000e+20,NaN,"b'19, 41'",b'',1.950000e+20,3.400000e+19,NaN,"b'19, 41'"
23,HD210839,b'',2.818000e+21,4.200000e+20,NaN,b'27',b'',1.412000e+21,3.700000e+20,NaN,"b'11, 27, 29, 74'",b'',6.918000e+20,6.700000e+19,NaN,"b'11, 24, 27, 29, 37, 46, 95, 591'"
24,HD210839,b'',2.820000e+21,3.200000e+20,NaN,b'48',b'',1.585000e+21,4.100000e+20,NaN,"b'22, 32'",b'',6.026000e+20,NaN,NaN,"b'23, 32, 64, 70, 77'"
25,HD210839,b'',2.818000e+21,4.200000e+20,NaN,b'29',b'',1.288000e+21,3.000000e+20,NaN,"b'23, 32'",b'',6.918000e+20,1.800000e+20,NaN,"b'11, 39'"
26,HD210839,b'',2.951000e+21,2.800000e+20,NaN,b'46',b'',1.412000e+21,NaN,NaN,"b'37, 39, 74'",b'',6.920000e+20,6.100000e+19,NaN,b'56'
27,HD210839,b'',2.800000e+21,4.100000e+20,NaN,b'18',b'',1.412000e+21,4.500000e+20,NaN,b'74',b'',6.918000e+20,NaN,NaN,b'81'
28,HD210839,b'',2.850000e+21,2.800000e+20,NaN,b'30',b'',1.549000e+21,2.300000e+20,NaN,"b'30, 46'",b'',6.920000e+20,6.100000e+19,NaN,"b'11, 18'"
29,HD210839,b'',2.512000e+21,NaN,NaN,b'58',b'',1.288000e+21,NaN,NaN,"b'23, 64, 77'",b'',6.500000e+20,1.000000e+20,NaN,b'30'
30,HD232522,b'',1.549000e+21,1.900000e+20,NaN,"b'19, 42'",b'',1.202000e+21,1.800000e+20,NaN,b'19',b'',1.660000e+20,3.800000e+19,NaN,b'19'